# sudo nano /etc/systemd/system/foreshadow.service
# sudo systemctl daemon-reload
# sudo systemctl start foreshadow
# sudo systemctl enable foreshadow

[Unit]
Description=Hyphen Foreshadow
After=network.target

[Service]
User=root
WorkingDirectory=/root/Sites/hyphen-forecaster/tile_renderers
ExecStart=/bin/bash -c 'source /root/Sites/hyphen-forecaster/.venv/bin/activate && exec uvicorn main:app --host 0.0.0.0 --port 5001 --workers 8'

Restart=always

StandardOutput=append:/root/Sites/hyphen-forecaster/fastapi.log
StandardError=append:/root/Sites/hyphen-forecaster/fastapi.log

[Install]
WantedBy=multi-user.target
