# sudo nano /etc/systemd/system/foreshadow-preloader.service
# sudo systemctl daemon-reload
# sudo systemctl start foreshadow-preloader
# sudo systemctl enable foreshadow-preloader

[Unit]
Description=Hyphen Foreshadow Preloader
After=network.target

[Service]
User=root
WorkingDirectory=/root/foreshadow-api
ExecStart=/bin/bash -c 'source /root/foreshadow-api/.venv/bin/activate && python3 -m tile_renderers.gfs_render.run_preloader'

Restart=always

StandardOutput=append:/root/foreshadow-api/fastapi-preloader.log
StandardError=append:/root/foreshadow-api/fastapi-preloader.log

[Install]
WantedBy=multi-user.target
